Nama    : Intan Mukti Pebriana<br>
Batch   : HCK 019<br>
Objective   : Melakukan prediction pada model inference setelah membuat model machine learning menggunakan Supervised Learning dengan SVC.

---

# **Import Libraries**

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Load model
import pickle
import json

import warnings
warnings.filterwarnings('ignore')

# **Load File**

In [2]:
# Memuat model dari file pickle
with open('pipeline_svc.pkl', 'rb') as file_1:
    model = pickle.load(file_1)

In [3]:
# Menampilkan dataset menjadi dataframe
df = pd.read_csv("X_inf.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,previous,poutcome
0,52,unemployed,married,secondary,no,0,no,no,cellular,16,jun,7,0,not contacted before
1,36,management,married,tertiary,no,1235,no,no,cellular,25,aug,6,0,not contacted before
2,41,technician,married,secondary,no,1270,yes,no,cellular,5,may,1,0,not contacted before
3,38,blue-collar,married,primary,no,5643,yes,no,cellular,18,may,2,1,failure
4,47,services,married,secondary,no,795,yes,no,cellular,29,may,3,0,not contacted before

# **Proses Prediksi**

In [5]:
# Melakukan prediksi menggunakan model SVC
predictions = model.predict(df)

In [6]:
# Menyimpan hasil prediksi ke dalam dataframe untuk ditampilkan atau disimpan
df['prediction'] = predictions

In [7]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,previous,poutcome,prediction
0,52,unemployed,married,secondary,no,0,no,no,cellular,16,jun,7,0,not contacted before,no
1,36,management,married,tertiary,no,1235,no,no,cellular,25,aug,6,0,not contacted before,no
2,41,technician,married,secondary,no,1270,yes,no,cellular,5,may,1,0,not contacted before,no
3,38,blue-collar,married,primary,no,5643,yes,no,cellular,18,may,2,1,failure,no
4,47,services,married,secondary,no,795,yes,no,cellular,29,may,3,0,not contacted before,no